[Match]
Name=usb1

[Link]
MTUBytes=15000

[Network]
DHCPServer=yes
Address=192.168.222.129/28

[DHCPServer]
PoolOffset=2
PoolSize=5
PersistLeases=no
EmitDNS=no
EmitRouter=no
EmitNTP=no
EmitTimezone=no
UplinkInterface=:none
SendOption=26:uint16:15000
