[Unit]
Description=Load USB gadget scheme
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
ExecStart=/usr/sbin/gadget_config.sh
ExecStop=/usr/sbin/gadget_config.sh stop
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=usb-gadget.target
