[Unit]
Description=ZDoom

# gzdoom can use a lot of CPU on startup, which can make a device unusable if
# it is not going to start. As such, if the service restarts more than 3 times
# in a 2 minute window, disable the service
StartLimitIntervalSec=1m
StartLimitBurst=3

Wants=weston.socket

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/weston
ExecStart=/usr/bin/zdoom -config /etc/zdoom/zdoom.ini
User=weston
Environment=WAYLAND_DISPLAY=/run/wayland-0

[Install]
WantedBy=default.target
